.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(10%, 1fr));
  grid-column-gap: 20px;
  justify-content: flex-start;
  padding: 0 20px;

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding: 0 40px;
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(5, minmax(10%, 1fr));
    grid-column-gap: 30px;
    padding: 0 60px;
  }
}
